<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/users/add">Add New User</a> | 
			<a href="/users">All Users List</a>
		</div>	

		<hr/>
		<div>
			VUE: <a href="/users/vue">User</a>
		</div>

		<hr/>
		<div>
			API: <a href="/api/product">Product</a>
		</div>
		
		<h1><%= title %></h1>
