<!--
including header content which is common for all pages
-->
<%- include layouts/header_guest.ejs %>	

<!--
including footer content which is common for all pages
-->
<form method="post">
    <div>
        <input type="text" name="" />
    </div>
    <div>
        <input type="password" name="" />
    </div>
    <button type="submit" value="submit"/>
</form>

<%- include layouts/footer.ejs %>
